.mySwiper,
.mySwiper .swiper-slide {
    height: 40vh;
}

.home-carousel-container {
    height: 100%;
    width: 100%;
}

.home-carousel-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.mySwiper .swiper-pagination {
    bottom: 16px;
}

.mySwiper .swiper-pagination-bullet {
    background-color: green;
    width: 8px;
    height: 8px;
    opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: green;
    opacity: 1;
    transform: scale(1.5);
}

/* Tablets */
@media (min-width: 768px) {

    .mySwiper,
    .mySwiper .swiper-slide {
        height: 60vh;
    }
}

/* Laptops & above */
@media (min-width: 1024px) {

    .mySwiper,
    .mySwiper .swiper-slide {
        height: 95vh;
    }
}