.navbar {
  background: #fff;
  border-bottom: 1px solid #eee;
}


.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.navbar__logo {
  font-size: 18px;
  font-weight: 600;
}

.navbar__menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar__menu__container{
  border:1px solid black;
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.2s linear;
  background-color: white;
  padding: 1rem;
}

.show_profile{
  transform: translateX(0%);
}

.navbar__menu {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navbar__menu li {
  list-style: none;
  font-size: 16px;
}

.close_menu_button{
  position: absolute;
  right: 1rem;
}