
:root {
    /*=================================================================================
    Body fonts
    =================================================================================*/
    --fs-body: clamp(0.95rem, 0.9rem + 0.3vw, 1rem);
    --fs-body-lg: clamp(1rem, 0.95rem + 0.4vw, 1.125rem);
    --fs-small: clamp(0.8rem, 0.75rem + 0.2vw, 0.875rem);
    --fs-xsmall: clamp(0.7rem, 0.65rem + 0.15vw, 0.75rem);

    /*=================================================================================
    Heading fonts
    =================================================================================*/
    --fs-h1: clamp(1.75rem, 1.2rem + 3vw, 2.75rem);
    --fs-h2: clamp(1.5rem, 1.1rem + 2vw, 2.25rem);
    --fs-h3: clamp(1.25rem, 1rem + 1.5vw, 1.75rem);
    --fs-h4: clamp(1.1rem, 0.95rem + 1vw, 1.4rem);

    /* =========================
     NAV / MENU / UI TEXT
  ========================= */
    --fs-nav-md: clamp(0.95rem, 0.9rem + 0.2vw, 1rem);
    --fs-nav-sm: clamp(0.85rem, 0.8rem + 0.2vw, 0.9rem);

    --fs-button: clamp(0.9rem, 0.85rem + 0.2vw, 1rem);
    --fs-label: clamp(0.75rem, 0.7rem + 0.15vw, 0.8rem);

    /* =========================
     META / HELPER TEXT
  ========================= */
    --fs-caption: clamp(0.7rem, 0.65rem + 0.15vw, 0.75rem);
    --fs-overline: clamp(0.65rem, 0.6rem + 0.1vw, 0.7rem);

    /* =========================
     COLORS
  ========================= */
    --color-text: #222;
    --color-text-muted: #666;
}



body {
    font-family: system-ui, sans-serif;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.border-bottom {
    border-bottom: 1px solid rgba(214, 214, 214, 0.464);
}