body {
    font-family: system-ui, sans-serif;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.border-bottom {
    border-bottom: 1px solid rgba(214, 214, 214, 0.464);
}